#abcdiscs {
background-color: green;
color: white;
}
#axiom {
background-color: green;
color: white;
}
#daredevil {
background-color: green;
color: white;
}
#dga {
background-color: green;
color: white;
}
#discmania {
background-color: green;
color: white;
}
#discraft {
background-color: green;
color: white;
}
#dynamicdiscs {
background-color: green;
color: white;
}
#gateway {
background-color: green;
color: white;
}
#innova {
background-color: green;
color: white;
}
#latitude64 {
background-color: green;
color: white;
}
#legacy {
background-color: green;
color: white;
}
#millennium {
background-color: green;
color: white;
}
#mvp {
background-color: green;
color: white;
}
#prodiscus {
background-color: green;
color: white;
}
#prodigy {
background-color: green;
color: white;
}
#vibram {
background-color: green;
color: white;
}
#westside {
background-color: green;
color: white;
}
#yikun {
background-color: green;
color: white;
}